export(CircCPT)
export(Circ_plot)
export(Circ_rline)
export(Circ_arc)
export(Circ_line)
export(diagnostic.plot)
export(Param_quantiles)
export(CPT_freq)
export(CPT_mode)
export(QuantileGivenCPT)
importFrom("graphics", "abline", "axis", "barplot", "layout", "lines",
                "plot", "points", "polygon", "segments", "text", "title")
importFrom("stats", "pbeta", "pgamma", "pnorm", "pt", "qbeta",
                "qgamma", "qnorm", "qt", "uniroot")
useDynLib(PeriodCPT, .registration = TRUE)
